body {
	text-align: center;
	margin-top: 0;
	padding-top: 0;
}

.site-wrapper {
	display: table;
	width: 100%;
	font-family: Arial, Helvetica, sans-serif;
}

#site-title {
	width: 100%;
	height: 90px;
	line-height: 90px;
	background-color: #3399FF;
	font-size: xx-large;
	color: #FFFFFF;
}

#input {
	width: 100%;
	height: 300px;
	padding: 12px 0px 12px 0px;
}

#control-buttons-wrapper {
	width: 100%;
	height: 90px;
	line-height: 90px;
	background-color: #3399FF;
}

#submit {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 4px;
	font-family: Arial;
	color: #3399FF;
	background: #FFFFFF;
	padding: 7px 15px 7px 15px;
	border: solid #3399FF 1px;
	text-decoration: none;
	font-size: 15px;
}

#submit:hover {
	color: #287ACC;
}

#control {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 4px;
	font-family: Arial;
	color: #3399FF;
	background: #FFFFFF;
	padding: 7px 15px 7px 15px;
	border: solid #3399FF 1px;
	text-decoration: none;
	font-size: 15px;
}

#control:hover {
	color: #287ACC;
}

#guess {
	border-radius: 4px;
	font-family: Arial;
	border: solid #c1e0ff 1px;
	font-size: 45px;
	text-align: center;
	width: 150px;
}

#feedback {
	font-size: 35px;
	padding: 0px 0px 25px 0px;
}

#submit-button-wrapper {
	padding: 25px 0px 25px 0px;
}

#input-wrapper {
	padding-top: 25px;
}
